<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/JG-white-100.png">
    </a>
    <h1>Jeffrey Grant</h1>
    <p>I am a psychotherapist in Seattle, WA.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    If you are experiencing a life threatening emergency please contact 911.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How psychotherapy works</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eum voluptatem dolor doloremque aliquid et ducimus quam quasi provident nobis, iste natus dicta asperiores pariatur, maxime, esse odio inventore minima!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eum voluptatem dolor doloremque aliquid et ducimus quam quasi provident nobis, iste natus dicta asperiores pariatur, maxime, esse odio inventore minima!</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="#">Therapy</a></li>
        <li><a href="#">Existentialism</a></li>
        <li><a href="#">Where's Waldo?</a></li>
        <li><a href="#">Solipsism</a></li>
      </ul>
    </div>
  
</div>


</body>
</html>
